<footer class="footer">
  <div class="inner">
    <div class="footer_main">
      <div class="left">
        <div class="logo">
          <a href="#"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/logo01.png" alt=""></a>
        </div>
        <button>
          <a href="#">
            お問い合わせはこちら
            <div class="link_arrow"></div>
          </a>
        </button>
      </div>
      <!-- /.left -->
      <div class="right">
        <div>
          <p>送料/配送方法について</p>
          <p>
            「ヤマト運輸」にて配送させていただきます。 配送地域によって送料が異なりますので、<a href="#">こちら</a>からご確認ください。
          </p>
        </div>
        <div class="u-pc">
          <p>ご利用について</p>
          <p>ご注文の際に、まずこちらのご利用ガイドをご一読ください。</p>
          <button>
            <a href="#">ご利用ガイドはこちら</a>
          </button>
        </div>
        <div>
          <p>お支払いについて</p>
          <p>クレジットカード決済・代金引換・銀行振込がご利用になれます。</p>
        </div>
        <div class="u-sp">
          <p>ご利用について</p>
          <p>ご注文の際に、まずこちらのご利用ガイドをご一読ください。</p>
          <button>
            <a href="#">ご利用ガイドはこちら</a>
          </button>
        </div>
      </div>
      <!-- /.right -->
    </div>
    <!-- /.footer_main -->
    <div class="footer_sub">
      <ul>
        <li>
          <a href="#">特定商取引法に関する表示</a>
        </li>
        <li>
          <a href="#">プライバシーポリシー</a>
        </li>
        <li>
          <a href="#">運営会社<img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-unei.png" alt=""></a>
        </li>
      </ul>
      <small>Copyright© 株式会社新垣具郎商店 All Rights Reserved.</small>
    </div>
    <!-- /.footer_sub -->
  </div>
  <!-- /.inner -->
  <div class="btn_page-top">
    <a href="#">
      <div class="top_arrow"></div>
    </a>
  </div>
</footer>