<header>

  <div class="head-nav">
    <div class="header_inner">

      <h1>
        <a href="index.html"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/logo01.png" alt="OKINAWA発 食のセレクトショップ 新垣具郎商店「食彩家風」"></a>
      </h1>

      <div class="sp_hambager">
        <div class="hambager-content">
          <button type="button" class="hambager">
            <span class="c-line"></span>
            <span class="c-line"></span>
            <span class="c-line"></span>
          </button>
          <p class="c-ham-txt"></p>
        </div>
        <!-- /.hambager-content -->
      </div>

      <div class="header_icon-area">

        <div class="header_search-content">
          <form method="get" action="#">
            <div class="header_search-inner">
              <input type="text"
                name="q"
                placeholder="キーワードを入力">
              <!-- <input type="hidden" name="type" value="product"> -->
              <input
                type="image"
                src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-serch.png"
                alt="検索"
                class="icn-search">
            </div>
          </form>
        </div>

        <div class="header_contact_tel">
          <a href="tel:098-75-1316">
            <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-tel.png" alt="">
            <div>
              <p class="tel-num">098-75-1316</p>
              <p>
                <span>（受付時間：0:00〜0:00）</span>
              </p>
            </div>
          </a>
        </div>

        <div class="header_icon_login">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-login.png" alt="">
            <p>ログイン</p>
          </a>
        </div>
        <div class="header_icon_cart">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-cart.png" alt="">
            <p>カート</p>
          </a>
        </div>

      </div>
      <!-- /.header_icon-area -->

    </div>
    <!-- /.header_inner -->
  </div>
  <!-- /.head-nav -->

  <div class="main-nav">
    <div class="inner">
      <nav class="u-pc">
        <ul>
          <li class="js-has-subnav01">
            特集-1日を彩る沖縄の食卓
            <div class="mega-menu subnav01">
              <div class="inner">
                <ul>
                  <li class="mega-menu_list">
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/category_mornig-img01.jpg" alt="">
                      朝 - 朝ごはん
                    </a>
                  </li>
                  <li class="mega-menu_list">
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/category_lunch-img01.jpg" alt="">
                      昼 - ランチ
                    </a>
                  </li>
                  <li class="mega-menu_list">
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/category_teatime-img01.jpg" alt="">
                      夕 - ティータイム
                    </a>
                  </li>
                  <li class="mega-menu_list">
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/category_dinner-img01.jpg" alt="">
                      晩 - 晩ご飯
                    </a>
                  </li>
                  <li class="mega-menu_list">
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/category_evening-img01.jpg" alt="">
                      夜 - 晩酌
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="js-has-subnav02">
            商品を選ぶ
            <div class="mega-menu subnav02">
              <div class="inner">
                <div class="left">
                  <p>カテゴリ</p>
                  <ul>
                    <li><a href="#">乾物（農産）</a></li>
                    <li><a href="#">乾物（海産物）</a></li>
                    <li><a href="#">だし</a></li>
                    <li><a href="#">沖縄そば</a></li>
                    <li><a href="#">加工肉・レトルト食品</a></li>
                    <li><a href="#">お菓子</a></li>
                    <li><a href="#">ドリンク</a></li>
                    <li><a href="#">調味料</a></li>
                    <li><a href="#">その他</a></li>
                  </ul>
                </div>
                <div class="center">
                  <p>ギフト向け</p>
                  <ul>
                    <li><a href="#">お友達へ</a></li>
                    <li><a href="#">お世話になった方へ</a></li>
                    <li><a href="#">家族へ</a></li>
                  </ul>
                </div>
                <div class="right">
                  <p>お取り寄せ</p>
                  <ul>
                    <li><a href="#">いつもの食事に</a></li>
                    <li><a href="#">おもてなし</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#">読みもの</a>
          </li>
          <li>
            <a href="#">食彩かふうについて</a>
          </li>
          <li>
            <a href="#">お知らせ</a>
          </li>
          <li>
            <a href="#">よくあるご質問</a>
          </li>
        </ul>
      </nav>
      <div class="u-sp">
        <div class="icon_nav_sp">
          <div class="icon-box">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-serch.png" alt=""></a>
          </div>
          <div class="icon-box">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-login.png" alt="">ログイン</a>
          </div>
          <div class="icon-box">
            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-cart.png" alt="">カート</a>
          </div>
          <div class="icon-box sp_hambager">
            <div class="hambager-content">
              <button type="button" class="hambager">
                <span class="c-line"></span>
                <span class="c-line"></span>
                <span class="c-line"></span>
              </button>
            </div>
            <!-- /.hambager-content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- スマホメガメニュー -->
<div class="mega-menu_sp">
  <div class="inner">
    <nav>
      <ul>
        <li class="list-ttl title">
          特集-1日を彩る沖縄の食卓
          <div class="arrow_down"></div>
        </li>
        <ul class="nav-list box">
          <li>
            <a href="#">朝 - 朝ごはん</a>
          </li>
          <li>
            <a href="#">昼 - ランチ</a>
          </li>
          <li>
            <a href="#">夕 - ティータイム</a>
          </li>
          <li>
            <a href="#">晩 - 晩ご飯</a>
          </li>
          <li>
            <a href="#">夜 - 晩酌</a>
          </li>
        </ul>
        <li class="list-ttl title">
          商品を選ぶ
          <div class="arrow_down"></div>
        </li>
        <div class="box">
          <ul class="nav-list">
            <p>カテゴリ</p>
            <li>
              <a href="#">乾物（農産）</a>
            </li>
            <li>
              <a href="#">乾物（海産物）</a>
            </li>
            <li>
              <a href="#">だし</a>
            </li>
            <li>
              <a href="#">沖縄そば</a>
            </li>
            <li>
              <a href="#">加工肉・レトルト食品</a>
            </li>
            <li>
              <a href="#">お菓子</a>
            </li>
            <li>
              <a href="#">ドリンク</a>
            </li>
            <li>
              <a href="#">調味料</a>
            </li>
            <li>
              <a href="#">その他</a>
            </li>
          </ul>
          <ul class="nav-list">
            <p>ギフト向け</p>
            <li>
              <a href="#">お友達へ</a>
            </li>
            <li>
              <a href="#">お世話になった方へ</a>
            </li>
            <li>
              <a href="#">家族へ</a>
            </li>
          </ul>
          <ul class="nav-list">
            <p>お取り寄せ</p>
            <li>
              <a href="#">いつもの食事に</a>
            </li>
            <li>
              <a href="#">おもてなし</a>
            </li>
          </ul>
        </div>
        <li class="list-ttl title">
          読みもの
          <div class="arrow_down"></div>
        </li>
        <ul class="nav-list box">
          <li>
            <a href="#">レシピ</a>
          </li>
          <li>
            <a href="#">レシピ</a>
          </li>
        </ul>
        <li class="list-ttl">
          <a href="#">食彩かふうについて</a>
          <div class="arrow_right"></div>
        </li>
        <li class="list-ttl">
          <a href="#">お知らせ</a>
          <div class="arrow_right"></div>
        </li>
        <li class="list-ttl">
          <a href="#">よくあるご質問</a>
          <div class="arrow_right"></div>
        </li>
        <li class="list-ttl">
          <a href="#">プライバシーポリシー</a>
        </li>
        <li class="list-ttl">
          <a href="#">会社情報</a>
        </li>
      </ul>
    </nav>
    <button>
      <a href="#">お問い合わせはこちら<div class="link_arrow"></div>
      </a>
    </button>
    <button>
      <a href="#">ご利用ガイドはこちら</a>
    </button>
  </div>
  <!-- /.inner -->
</div>
<!-- /.mega-menu_sp -->