<div id="contents" class="p-under_wrap kazari08">
  <div class="inner flex">
    <!-- サイドバー -->
    <aside>
      <div class="side_box">
        <h3>特集<br>1日を彩る沖縄の食卓</h3>
        <ul>
          <li><a href="#">朝 - 朝ごはん</a></li>
          <li><a href="#">昼 - ランチ</a></li>
          <li><a href="#">夕 - ティータイム</a></li>
          <li><a href="#">晩 - 晩ご飯</a></li>
          <li><a href="#">夜 - 晩酌</a></li>
        </ul>
      </div>
      <div class="side_box">
        <h3>商品を選ぶ</h3>
        <div>
          <p>カテゴリ</p>
          <ul>
            <li><a href="#">乾物（農産）</a></li>
            <li><a href="#">乾物（海産物）</a></li>
            <li><a href="#">だし</a></li>
            <li><a href="#">沖縄そば</a></li>
            <li><a href="#">加工肉・レトルト食品</a></li>
            <li><a href="#">お菓子</a></li>
            <li><a href="#">ドリンク</a></li>
            <li><a href="#">調味料</a></li>
            <li><a href="#">その他</a></li>
          </ul>
        </div>
        <div>
          <p>ギフト向け</p>
          <ul>
            <li><a href="#">お友達へ</a></li>
            <li><a href="#">お世話になった方へ</a></li>
            <li><a href="#">家族へ</a></li>
          </ul>
        </div>
        <div>
          <p>お取り寄せ</p>
          <ul>
            <li><a href="#">いつもの食事に</a></li>
            <li><a href="#">おもてなし</a></li>
          </ul>
        </div>
      </div>
      <div class="side_box">
        <h3>読みもの</h3>
        <ul>
          <li><a href="#">レシピ</a></li>
          <li><a href="#">レシピ</a></li>
        </ul>
      </div>
      <div class="side_box under_menu">
        <ul>
          <li><a href="#">よくあるご質問</a></li>
          <li><a href="#">お知らせ</a></li>
          <li><a href="#">ご利用ガイド</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
          <li><a href="company.html">会社情報</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
      </div>
    </aside>

    <!-- メインコンテンツ -->
    <div class="main-contents_wrap">
      <section class="p-company_wrap">
        <!-- パンくずリスト -->
        <div class="breadcrumb">
          <nav>
            <ol>
              <li>
                <a href="index.html"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-home.svg" alt=""></a>
              </li>
              <li>会社概要</li>
            </ol>
          </nav>
        </div>

        <div class="p-under_head-img">
          <img
            class="is_ObjectFit"
            src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-company_img.jpg"
            alt="">
          <div>
            <p>会社情報</p>
          </div>
        </div>

        <h2>
          <span>会</span>社概要</h2>
        <table>
          <tr>
            <th>会社名</th>
            <td>株式会社新垣具郎商店</td>
          </tr>
          <tr>
            <th>設立</th>
            <td>昭和25年</td>
          </tr>
          <tr>
            <th>資本金</th>
            <td>7,800万円</td>
          </tr>
          <tr>
            <th>従業員</th>
            <td>30人</td>
          </tr>
          <tr>
            <th>住所</th>
            <td>〒901-2123 沖縄県浦添市西洲2丁目10番地8</td>
          </tr>
          <tr>
            <th>TEL</th>
            <td>098-875-1316</td>
          </tr>
          <tr>
            <th>FAX</th>
            <td>098-875-1317</td>
          </tr>
          <tr>
            <th>事業内容</th>
            <td>乾物、一般食品、<br class="u-sp">菓子等の卸売業</td>
          </tr>
          <tr>
            <th>取扱商品</th>
            <td>昆布・椎茸・豆類・粉類・かつお節・珍味・一般食品・輸入菓子・国産菓子・レトルト食品</td>
          </tr>
        </table>
      </section>
    </div>
    <!-- /.maain-contents_wrap-->
  </div>
  <!-- /.inner-->
  <div class="kazari03"></div>
</div>
<!-- /#contents-->