<div id="contents" class="p-under_wrap kazari08">

  <!-- パンくずリスト SP時のみ -->
  <div class="breadcrumb u-sp">
    <div class="inner">
      <nav>
        <ol>
          <li>
            <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-home.svg" alt=""></a>
          </li>
          <li>特集</li>
          <li>夜-晩酌</li>
        </ol>
      </nav>
    </div>
  </div>

  <section class="p-feature-lp_wrap evening">

    <div class="p-under_head-img">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-evening_img_sp.jpg" media="(max-width: 769px)">
        <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-evening_img.jpg" alt="">
      </picture>
    </div>

    <div class="feature-lp_message">
      <h3 class="fadeIn">Evening Story</h3>
      <p class="fadeIn">
        夜も深まる頃、1日の締めに乾杯。<br>
        今日あったことを振り返りながら、<br class="u-sp">ゆっくりとお酒を飲む。<br>
        1人で、家族と、友人と、恋人と・・・
      </p>
      <p class="fadeIn">
        夜風を感じる今宵の晩酌。<br>
        ゆったりと過ぎる夜のひとときを彩るのは、<br>
        お気に入りの音楽とお気に入りのお酒。<br>
        そして沖縄のおつまみ。<br>
        クセになる味で、思わずお酒が進みます。
      </p>
      <p class="fadeIn">この晩酌のひとときが、<br class="u-sp">明日への活力となることでしょう。</p>
      <div class="kazari09"></div>
      <div class="kazari12"></div>
      <div class="kazari03"></div>
    </div>

    <div class="m-e_wrap01 fadeIn">
      <div class="inner">
        <div class="img-box">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/evening_img01_sp.png" media="(max-width: 769px)">
            <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/evening_img01.png" alt="">
          </picture>
          {% comment %} <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/evening_img01.png" alt=""> {% endcomment %}
        </div>
        <p>沖縄の晩酌には、沖縄の定番のおつまみを。濃厚な味わいの豆腐餻（とうふよう）と、スパイシーでカリッとした食感のビアナッツは、お酒のお供にピッタリです。ゆっくりとお酒を飲む今宵の晩酌にぜひ。お酒との相性が抜群なので、飲み過ぎには注意・・・</p>
        {% comment %} <button>
        <a href="#set-item">セット商品を見る</a>
        </button> {% endcomment %}
        <div class="kazari09"></div>
      </div>
    </div>

    <div class="m-e_wrap02">
      <div class="inner">
        <div class="m-e-itemlist">
          <div class="box fadeIn">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/evening_img02.png" alt=""></div>
            <div class="right">
              <h3>豆腐餻</h3>
              <p>豆腐を紅麹と泡盛などで発酵・熟成させた発酵食品です。 ビールや泡盛にはもちろん、チーズのような風味なので、ワインにもよく合います。</p>
              {% comment %} <button>
              <a href="#">商品を見る</a>
              </button> {% endcomment %}
            </div>
          </div>
          <div class="box fadeIn">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/evening_img03.png" alt=""></div>
            <div class="right">
              <h3>オリオンビアナッツ</h3>
              <p>
                沖縄の地ビール「オリオンビール」を作るときにできる ビール酵母を使用したおつまみ。<br>
                沖縄ならではの3種の味を楽しめるナッツです。
              </p>
              {% comment %} <button>
              <a href="#">商品を見る</a>
              </button> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="kazari09"></div>
    </div>

    {% section 'lp-items_evening' %}

    <div class="feature-other fadeIn">
      <div class="inner">
        <h3>1日を彩る沖縄の食卓 - 他を見る</h3>
        <ul>
          <li><a href="/pages/lp_morning"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img01.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_lunch"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img02.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_teatime"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img03.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_dinner"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img04.jpg" alt=""></div></a></li>
        </ul>
      </div>
    </div>


  </section>
</div>
<!-- /#contents-->