<div id="contents" class="p-under_wrap kazari08">

  <!-- パンくずリスト SP時のみ -->
  <div class="breadcrumb u-sp">
    <div class="inner">
      <nav>
        <ol>
          <li>
            <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-home.svg" alt=""></a>
          </li>
          <li>特集</li>
          <li>朝-朝ごはん</li>
        </ol>
      </nav>
    </div>
  </div>

  <section class="p-feature-lp_wrap morning">

    <div class="p-under_head-img">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-morning_img_sp.jpg" media="(max-width: 769px)">
        <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-morning_img.jpg" alt="">
      </picture>
    </div>

    <div class="feature-lp_message">
      <h3 class="fadeIn">Morning Story</h3>
      <p class="fadeIn">
        鳥のさえずりが聞こえ、<br class="u-sp">風が心地よく吹き抜ける。<br class="u-sp">そんな穏やかな朝。<br>
        沖縄の朝ごはんは、<br class="u-sp">身体に栄養を与えるだけでなく、<br>
        心も満たしてくれる特別なひとときです。
      </p>
      <p class="fadeIn">
        普段はせわしなく過ごしてしまう朝も、<br class="u-sp">今日はゆったりとお味噌汁とおにぎりを作ってみましょう。<br>
        沖縄のおにぎりに添えるのは、あぶらみそ。
      </p>
      <p class="fadeIn">
        大切な一日のスタートを、<br class="u-sp">沖縄の朝ごはんとともに迎えれば、<br>
        きっと幸せな気持ちに包まれます。
      </p>
      <div class="kazari09"></div>
      <div class="kazari10"></div>
      <div class="kazari11"></div>
    </div>

    <div class="m-e_wrap01 fadeIn">
      <div class="inner">
        <div class="img-box">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/morning_img01_sp.png" media="(max-width: 769px)">
            <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/morning_img01.png" alt="">
          </picture>
          {% comment %} <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/morning_img01.png" alt=""> {% endcomment %}
        </div>
        <p>朝ごはんの定番、お味噌汁とおにぎり。その２つに欠かせないのが味噌。おにぎりに添える「油味噌（アンダンスー）」は、味噌と豚肉、もしくは魚介類などを炒めた沖縄定番のご飯のお供です。濃厚で豊かな風味と深い味わい。沖縄の味噌で作るお味噌汁とおにぎりで、ホッとする心温まる一日の始まりを迎えませんか？</p>
        {% comment %} <button>
        <a href="#set-item">セット商品を見る</a>
        </button> {% endcomment %}
        <div class="kazari09"></div>
      </div>
    </div>

    <div class="m-e_wrap02">
      <div class="inner">
        <div class="subhead-img">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/morning_subhead-img01_sp.jpg" media="(max-width: 769px)">
            <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/morning_subhead-img01.jpg" alt="">
          </picture>
          {% comment %} <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/morning_subhead-img01.jpg" alt=""> {% endcomment %}
        </div>
        <div class="m-e-itemlist">
          <div class="box fadeIn">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/aburamiso.png" alt=""></div>
            <div class="right">
              <h3>あぶらみそ</h3>
              <p>宮古島の天然麹菌で昔ながらの製法で作る宮古みそです。天然ハーブ入り飼料で育てた「沖縄県産ちゅらぶた」を使用しています。</p>
              {% comment %} <button>
              <a href="#">商品を見る</a>
              </button> {% endcomment %}
            </div>
          </div>
          <div class="box fadeIn">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/daizumiso.png" alt=""></div>
            <div class="right">
              <h3>だいずみそ</h3>
              <p>宮古島の天然麹菌で昔ながらの製法で作る宮古みそです。まろやか、丸ごと「国産大豆100%」を使用しています。</p>
              {% comment %} <button>
              <a href="#">商品を見る</a>
              </button> {% endcomment %}
            </div>
          </div>
          <div class="box fadeIn">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/kuusumiso.png" alt=""></div>
            <div class="right">
              <h3>くーすみそ</h3>
              <p>宮古島の天然麹菌で昔ながらの製法で作る宮古みそです。宮古島産「島とうがらし」を使用しています。</p>
              {% comment %} <button>
              <a href="#">商品を見る</a>
              </button> {% endcomment %}
            </div>
          </div>
          <div class="box fadeIn">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/umemiso.png" alt=""></div>
            <div class="right">
              <h3>うめみそ</h3>
              <p>宮古島の天然麹菌で昔ながらの製法で作る宮古みそです。梅の最高級品「紀州の南高梅」を使用しています。</p>
              {% comment %} <button>
              <a href="#">商品を見る</a>
              </button> {% endcomment %}
            </div>
          </div>
          <div class="box fadeIn">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/katuomiso.png" alt=""></div>
            <div class="right">
              <h3>かつおみそ</h3>
              <p>宮古島の天然麹菌で昔ながらの製法で作る宮古みそです。宮古島産近海「採れたて鮮魚かつお」を使用しています。</p>
              {% comment %} <button>
              <a href="#">商品を見る</a>
              </button> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="subhead-img">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/morning_subhead-img02_sp.jpg" media="(max-width: 769px)">
            <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/morning_subhead-img02.jpg" alt="">
          </picture>
          {% comment %} <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/morning_subhead-img02.jpg" alt=""> {% endcomment %}
        </div>
        <div class="m-e-itemlist">
          <div class="box fadeIn">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/outyomiso.png" alt=""></div>
            <div class="right">
              <h3>王朝みそ</h3>
              <p>風味豊かな国産丸大豆を自慢の自家製米こうじで仕込んだ天然醸造の米みそです。</p>
              {% comment %} <button>
              <a href="#">商品を見る</a>
              </button> {% endcomment %}
            </div>
          </div>
          <div class="box fadeIn">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/shyurimiso.png" alt=""></div>
            <div class="right">
              <h3>首里みそ</h3>
              <p>大豆に米麹を使った味噌で、甘みとまろやかな味わいが人気の定番商品です。</p>
              {% comment %} <button>
              <a href="#">商品を見る</a>
              </button> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="kazari09"></div>
    </div>

    {% section 'lp-items_morning' %}

    <div class="feature-other fadeIn">
      <div class="inner">
        <h3>1日を彩る沖縄の食卓 - 他を見る</h3>
        <ul>
          <li><a href="/pages/lp_lunch"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img02.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_teatime"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img03.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_dinner"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img04.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_evening"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img05.jpg" alt=""></div></a></li>
        </ul>
      </div>
    </div>


  </section>
</div>
<!-- /#contents-->