<div id="contents" class="p-under_wrap kazari08">
  <div class="inner flex">
    <!-- サイドバー -->
    {% render 'side-menu' %}

    <!-- メインコンテンツ -->
    <div class="main-contents_wrap">
      <section class="p-guide_wrap">
        <!-- パンくずリスト -->
        <div class="breadcrumb">
          <nav>
            <ol>
              <li>
                <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-home.svg" alt=""></a>
              </li>
              <li>ご利用ガイド</li>
            </ol>
          </nav>
        </div>

        <div class="p-under_head-img">
          <img
            class="is_ObjectFit"
            src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-under_img.jpg"
            alt="">
          <div>
            <p>ご利用ガイド</p>
          </div>
        </div>

        <div class="guide-link_wrap">
          <div class="box">
            <a href="#to-flow">ご注文の流れ</a>
          </div>
          <div class="box">
            <a href="#to-payment">お支払い方法について</a>
          </div>
          <div class="box">
            <a href="#to-postage">配送・送料について</a>
          </div>
          <div class="box">
            <a href="#to-shipment-date">商品の発送日について</a>
          </div>
          <div class="box">
            <a href="#to-return">返品・交換について</a>
          </div>
          <div class="box">
            <a href="#to-business-day">営業日について</a>
          </div>
        </div>

        <div class="guide-wrap" id="to-flow">
          <h3>ご注文の流れ　ーご注文方法ー</h3>
          <div class="box">
            <div class="ttl">
              <p>STEP1</p>
              <p>商品を選んでカートに入れます</p>
            </div>
            <div class="text">
              <p>
                注文したい商品ページ上で購入数をお選びいただき、「カートに入れる」ボタンを押して次へお進みください。
              </p>
            </div>
          </div>
          <div class="box">
            <div class="ttl">
              <p>STEP2</p>
              <p>入力画面へ進みます</p>
            </div>
            <div class="text">
              <p>
                ショッピングカートの中身をご確認いただき、注文商品が正しく表示されているかご確認のうえ、「お届け情報」へ。
              </p>
            </div>
          </div>
          <div class="box">
            <div class="ttl">
              <p>STEP3</p>
              <p>お届け先を選びます</p>
            </div>
            <div class="text">
              <p>
                「自宅へ届ける」または「自宅以外へ届ける」をお選びいただき、お届け先の情報及びお客さま情報をご入力ください。<br>
                ※ログインいただくと、お客さま情報の入力を省略いただけます
              </p>
            </div>
          </div>
          <div class="box">
            <div class="ttl">
              <p>STEP4</p>
              <p>お支払方法を選択します</p>
            </div>
            <div class="text">
              <p>
                3つのお支払い方法よりお選びください。<br>
                ・クレジット決済<br>
                ・代金引換<br>
                ・銀行振込（前払い）<br>
                ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。あらかじめご購入商品をご確認いただきますようお願い申し上げます。
              </p>
            </div>
          </div>
          <div class="box">
            <div class="ttl">
              <p>STEP5</p>
              <p>ご購入完了となります</p>
            </div>
            <div class="text">
              <p>
                ご購入完了後、お客様へご注文内容確認のメールをお送りいたします。 ご注文内容にお間違いがないかご確認ください。<br>
                ※<span>info@arakaki-grow.co.jp</span>からのメールを受け取れるように設定をお願いいたします。<br>
                ※ご注文内容確認のメールが届かない場合、お手数ですが「お客様情報」より、ご入力いただいたメールアドレスを今一度ご確認ください。
              </p>
            </div>
          </div>
        </div>

        <div class="guide-wrap" id="to-payment">
          <h3>お支払い方法について</h3>
          <div class="box">
            <div class="ttl">
              <p>＜クレジット決済＞</p>
            </div>
            <div class="text">
              <p>
                決済手数料：<span>無料</span><br>
                <span>VISA、Diners、Master、JCB、American Express</span>の各種カードがご利用いただけます。
              </p>
            </div>
          </div>
          <div class="box">
            <div class="ttl">
              <p>＜代金引換＞</p>
            </div>
            <div class="text">
              <p>
                商品をお受け取りの際、商品代金、送料、代引手数料を配送業者の方へお支払いください。<br>
                ※合計金額が高額になるご注文の場合、代金引換がご利用できない場合もございますので、あらかじめご了承ください。<br>
                その場合、弊社よりご連絡させていただきます。
              </p>
              <p>
                ・代金引換をご利用時に以下の理由により当社に返送された場合は往復の送料、返品手続きの手数料をご請求させていただきます。
              </p>
              <p>
                ※初配より7日を過ぎてもお客様のご都合によりお引渡しができなかった場合<br>
                ※賞味期限があるもので期限を過ぎてもお客様のご都合によりお引き渡しができなかった場合<br>
                ※お客様が受け取り拒否をされた場合
              </p>
            </div>
          </div>
          <div class="box">
            <div class="ttl">
              <p>＜銀行振込（前払い）＞</p>
            </div>
            <div class="text">
              <p>
                振込手数料：お客さま負担<br>
                ※銀行振込の場合、ご入金確認後の発送になります<br>
                ※ご注文日を含む10日以内にご入金が確認できなかった場合は、自動キャンセルとなります
              </p>
              <p>
                <span>▼振込先情報</span><br>
                ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝<br>
                沖縄銀行　商業団地支店　普通預金1149955　株式会社新垣具郎商店<br>
                ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
              </p>
            </div>
          </div>
        </div>

        <div class="guide-wrap" id="to-postage">
          <h3>配送・送料について</h3>
          <div class="box">
            <div class="text">
              <p>
                「佐川急便」にて配送させていただきます。<br>
                全国一律1,400円<br>
                12,000円以上のご購入で送料無料
              </p>
            </div>
          </div>
        </div>

        <div class="guide-wrap" id="to-shipment-date">
          <h3>商品の発送日について</h3>
          <div class="box">
            <div class="text">
              <p>
                ご注文・決済完了後、<span>土日祝日を除く5営業日以内</span>に発送いたします。<br>
                ※製造・ご注文の状況により、発送日が前後する可能性がございます。あらかじめご了承ください。<br>
                ※お急ぎの方は、<a href="/pages/contact-form">お問い合わせフォーム</a>よりご相談ください。
              </p>
            </div>
          </div>
        </div>

        <div class="guide-wrap" id="to-return">
          <h3>返品・交換について</h3>
          <div class="box">
            <div class="text">
              <p>
                到着した商品に不備・不良品がありましたらご連絡ください。商品の破損など、当店の不手際により不備が発生した場合は、代品がある場合には交換、無い場合にはご返品・ご返金として対応いたします。
              </p>
              <p>
                商品到着後1週間以内に、<a href="/pages/contact-form">お問い合わせフォーム</a>またはお電話にてご連絡をいただけますようお願い申し上げます。<br>
                その際お手数ですが、<span>①お名前、②お電話番号、③受注番号（「ご注文確認メール」に記載されております）</span>をお知らせください。手続きの手順について、ご案内させていただきます。
              </p>
            </div>
          </div>
        </div>

        <div class="guide-wrap" id="to-business-day">
          <h3>営業日について</h3>
          <div class="box">
            <div class="text">
              <p>
                営業日：<span>平日 10:30～16:00</span><br>
                ※土日祝日はお休みです
              </p>
            </div>
          </div>
        </div>

      </section>
    </div>
    <!-- /.maain-contents_wrap-->
  </div>
  <!-- /.inner-->
  <div class="kazari03"></div>
</div>
<!-- /#contents-->