<div id="contents" class="p-under_wrap kazari08">
  <div class="inner flex">
    <!-- サイドバー -->
    {% render 'side-menu' %}

    <!-- メインコンテンツ -->
    <div class="main-contents_wrap">
      <section class="p-trade_wrap">
        <!-- パンくずリスト -->
        <div class="breadcrumb">
          <nav>
            <ol>
              <li>
                <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-home.svg" alt=""></a>
              </li>
              <li>特定商取引法に基づく表示</li>
            </ol>
          </nav>
        </div>

        <div class="p-under_head-img">
          <img
            class="is_ObjectFit"
            src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-under_img.jpg"
            alt="">
          <div>
            <p>特定商取引法に基づく表示</p>
          </div>
        </div>

        <table>
          <tr>
            <th>販売業者</th>
            <td>株式会社新垣具郎商店</td>
          </tr>
          <tr>
            <th>運営統括責任者</th>
            <td>新垣英一郎</td>
          </tr>
          <tr>
            <th>所在地</th>
            <td>〒901-2123 沖縄県浦添市西洲2丁目10番地8</td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>098-875-1316</td>
          </tr>
          <tr>
            <th>FAX</th>
            <td>098-875-1316</td>
          </tr>
          <tr>
            <th>メール<br class="u-sp">アドレス</th>
            <td>
              <span>＠メールアドレス＠</span>
            </td>
          </tr>
          <tr>
            <th>取扱商品</th>
            <td>
              <span>昆布、椎茸、豆類、粉類、かつお節、珍味、一般食品、輸入食品・菓子、国産菓子、レトルト食品</span>
            </td>
          </tr>
          <tr>
            <th>販売価格</th>
            <td>各商品ページをご参照ください。</td>
          </tr>
          <tr>
            <th>商品代金以外の<br>必要料金</th>
            <td>
              <span>
                消費税・送料・手数料（代引き手数料一律300円+税）はお客様のご負担となります。<br>
                <br>
                【送料】<br>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </span>
            </td>
          </tr>
          <tr>
            <th>送料について</th>
            <td>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</td>
          </tr>
          <tr>
            <th>申し込みの有効期限</th>
            <td>原則、受注確認（受注確認の為の自動送信メール発信）後、<span>5</span>日間とします。</td>
          </tr>
          <tr>
            <th>不良品</th>
            <td>
              商品が届きましたら直ちに内容のご確認をお願いいたします。<br>
              万が一不良品の疑いがございましたら、直ちにご連絡ください。<br>
              商品到着日から3日間以内に生じました当社責任における初期不良に付きましては、交換もしくは返金にて対応をいたします。
            </td>
          </tr>
          <tr>
            <th>販売数量</th>
            <td>特に指定はございません（商品によって設定あり）</td>
          </tr>
          <tr>
            <th>引き渡し時期</th>
            <td>
              決済完了後（代金引換を除く）、5営業日以内(土日祝日を除く)に発送いたします。<br>
              天候不順・配送業者の都合・その他何らかの理由により 遅延する場合はメール等でお知らせいたします。
            </td>
          </tr>
          <tr>
            <th>お支払い方法</th>
            <td>クレジットカード・代金引換・銀行振込</td>
          </tr>
          <tr>
            <th>お支払い期限</th>
            <td>
              ・代金引換の場合<br>
              商品のお届け時に、配達員に代金のお支払いをお願いします。<br>
              <br>
              ・銀行振込の場合<br>
              ご注文日を含む<span>10</span>日以内にご入金をお願いします。
            </td>
          </tr>
          <tr>
            <th>返品・交換について</th>
            <td>
              ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。<br>
              商品の品質につきましては万全を期しておりますが、万が一、ご注文商品と異なる商品が届いた場合や、配送中などになんらかの不備が生じた場合は速やかに代替品などの手配を取らせていただきます<br>
              <br>
              ご注文商品と異なる商品や不良品をお届けした場合、商品到着後7日以内に下記メールアドレスまでご連絡いただきますようお願い申し上げます。<br>
              <br>
              <span>＠メールアドレス@</span><br>
              受付時間：平日10:00～16:00（土日・祝日は除く）<br>
              <br>
              商品の汚損・破損等、当店の不手際による返品の場合の送料は当店にて負担いたします。
            </td>
          </tr>
        </table>

      </section>
    </div>
    <!-- /.maain-contents_wrap-->
  </div>
  <!-- /.inner-->
  <div class="kazari03"></div>
</div>
<!-- /#contents-->