<div id="contents" class="p-under_wrap kazari08">

  <!-- パンくずリスト SP時のみ -->
  <div class="breadcrumb u-sp">
    <div class="inner">
      <nav>
        <ol>
          <li>
            <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-home.svg" alt=""></a>
          </li>
          <li>特集</li>
          <li>夕-ティータイム</li>
        </ol>
      </nav>
    </div>
  </div>

  <section class="p-feature-lp_wrap teatime">

    <div class="p-under_head-img">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-teatime_img_sp.jpg" media="(max-width: 769px)">
        <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-teatime_img.jpg" alt="">
      </picture>
    </div>

    <div class="feature-lp_message">
      <h3 class="fadeIn">Tea Time Story</h3>
      <p class="fadeIn">
        ホッと一息つきたくなる昼下がり。<br>
        美味しいお茶と琉球菓子と<br class="u-sp">共に過ごすティータイムは、<br>
        あなたを沖縄のゆったりとした<br class="u-sp">時間で包みます。
      </p>
      <p class="fadeIn">
        バタフライピーティー、ちんすこう、<br class="u-sp">サーターアンダギー、くずもち・・・<br>
        鮮やかな色合いは、<br class="u-sp">見ているだけで温かい気持ちに。
      </p>
      <p class="fadeIn">
        家での沖縄のティータイムは、<br class="u-sp">リラックスした時間を過ごす絶好の機会です。<br>
        琉球の風味に包まれながら、<br class="u-sp">心と体を癒しましょう。
      </p>
      <div class="kazari09"></div>
      <div class="kazari12"></div>
      <div class="kazari03"></div>
    </div>

    <div class="lunchi-teatime-dinner_wrap">
      <div class="inner">

        <div class="wrap01 fadeIn">
          <div class="box">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/teatime_img01.jpg" alt=""></div>
            <div class="right">
              <h3>
                <span>色鮮やかなブルーが特徴</span><br>バタフライピーティー</h3>
              <p>バタフライピーは、近年沖縄の新しい県産品として注目されています。花の形が蝶の羽のように美しいことから「バタフライピー」と呼ばれ、ブルー、パープル、ピンクなど鮮やかな花色が特徴です。花びらを乾燥させると、見た目が華やかなブルーやパープルのお茶「バタフライピーティー」になります。天然の着色料としても使われることがあり、爽やかな甘みや独特の香りが楽しめます。</p>
            </div>
          </div>
          <div class="img-box wide-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/teatime_img02_sp.png" media="(max-width: 769px)">
              <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/teatime_img02.png" alt="">
            </picture>
            {% comment %} <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/teatime_img02.png" alt=""> {% endcomment %}
          </div>
          <div class="kazari09"></div>
        </div>

        <div class="wrap02 fadeIn">
          <div class="wrap02_inner">
            <h3 class="u-pc">
              <span>Arranged Recipe</span>見た目も楽しい、マジックティーアレンジ
            </h3>
            <div class="u-sp">
              <h3>見た目も楽しい、<br>マジックティーアレンジ</h3>
            </div>
            <div class="box">
              <div class="left">
                <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/teatime_img03.png" alt=""></div>
              </div>
              <div class="right">
                <p>
                  バタフライピーティーに、<span>レモンを加えると</span>…。<br>
                  バタフライピーティーに含まれるアントシアニンとレモンのクエン酸が反応し、濃いブルーが徐々に美しい紫色へと変化します。<br>
                  魔法のように色が変わるハーブティー。ぜひ一度お試しください。<br>
                </p>
              </div>
            </div>
          </div>
          {% comment %} <div class="btn-area">
          <button>
          <a href="#set-item">セット商品を見る</a>
          </button>
          <button>
          <a href="#used-item">使用商品を見る</a>
          </button>
          </div> {% endcomment %}
        </div>

        <div class="wrap03">
          <div class="box fadeIn">
            <div class="left">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/teatime_img04.jpg" alt=""></div>
            </div>
            <div class="right">
              <h3>
                <span>紅芋の鮮やかな紫ともっちり食感</span><br>紅芋くずもち</h3>
              <p>
                紅芋くずもちは、もっちりとした食感、美しい紅色、ほんのりとした甘みと紅芋の風味が特徴です。沖縄の風土と伝統を感じることができる美味しいスイーツが、ご家庭で簡単に作れます。<br>
                お好みできな粉をまぶせば、より紅芋の鮮やかさが際立ちます。
              </p>
              {% comment %} <div class="btn-area">
              <button>
              <a href="#set-item">セット商品を見る</a>
              </button>
              <button>
              <a href="#used-item">使用商品を見る</a>
              </button>
              </div> {% endcomment %}
            </div>
          </div>
          <div class="box fadeIn">
            <div class="left">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/teatime_img05.jpg" alt=""></div>
            </div>
            <div class="right">
              <h3>
                <span>沖縄の伝統菓子</span><br>サーターアンダギー</h3>
              <p>
                サーターアンダギーは、沖縄の代表的な揚げ菓子で、小麦粉、サトウキビ糖、卵などを主な材料として作られる揚げドーナツです。外側はカリッと香ばしく、中はもちもちとした食感で、子供から大人まで幅広く愛され、祝い事やお祭り、イベント、日常のおやつとして楽しまれています。
              </p>
              {% comment %} <div class="btn-area">
              <button>
              <a href="#set-item">セット商品を見る</a>
              </button>
              <button>
              <a href="#used-item">使用商品を見る</a>
              </button>
              </div> {% endcomment %}
            </div>
          </div>
          <div class="box fadeIn">
            <div class="left">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/teatime_img06.jpg" alt=""></div>
            </div>
            <div class="right">
              <h3>
                <span>沖縄を代表する焼き菓子</span><br>ちんすこう</h3>
              <p>
                ちんすこうは、沖縄の伝統的な焼き菓子で、小麦粉、砂糖、ラードを主な材料として作られます。四角い形状が特徴で、表面はサクッと、中はほんのりとした甘さがあり、口どけが軽い食感が楽しめます。約100年以上前から製造されている歴史あるお菓子であり、地元の人々や観光客に愛されています。
              </p>
              {% comment %} <div class="btn-area">
              <button>
              <a href="#set-item">セット商品を見る</a>
              </button>
              <button>
              <a href="#used-item">使用商品を見る</a>
              </button>
              </div> {% endcomment %}
            </div>
          </div>
        </div>

      </div>
      <div class="kazari09"></div>
    </div>

    {% section 'lp-items_teatime' %}


    <div class="feature-other fadeIn">
      <div class="inner">
        <h3>1日を彩る沖縄の食卓 - 他を見る</h3>
        <ul>
          <li><a href="/pages/lp_morning"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img01.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_lunch"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img02.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_dinner"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img04.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_evening"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img05.jpg" alt=""></div></a></li>
        </ul>
      </div>
    </div>


  </section>
</div>
<!-- /#contents-->