<div id="contents" class="p-under_wrap kazari08">
  <div class="inner flex">
    <!-- サイドバー -->
    {% render 'side-menu' %}

    <!-- メインコンテンツ -->
    <div class="main-contents_wrap">
      <section class="p-faq_wrap">
        <!-- パンくずリスト -->
        <div class="breadcrumb">
          <nav>
            <ol>
              <li>
                <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-home.svg" alt=""></a>
              </li>
              <li>よくある質問</li>
            </ol>
          </nav>
        </div>

        <div class="p-under_head-img">
          <img
            class="is_ObjectFit"
            src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-under_img.jpg"
            alt="">
          <div>
            <p>よくある質問</p>
          </div>
        </div>

        <div class="faq-link_wrap">
          <div class="box">
            <a href="#to-order">ご注文・お支払いについて</a>
          </div>
          <div class="box">
            <a href="#to-delivery">配送・送料について</a>
          </div>
          <div class="box">
            <a href="#to-returns">返品・交換について</a>
          </div>
        </div>

        <div class="fap-wrap" id="to-order">
          <h2>
            <span>ご</span>注文・お支払いについて</h2>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>電話やFAXで注文できますか？</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>ご注文方法はインターネットからのご注文のみとなっております。お電話やFAX、メールでのご注文は承っておりませんのでご了承ください。</p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>ギフトラッピングはできますか？</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  紙袋、手提げ袋、ギフトボックスなどは対応できません。<br>
                  （現在まだ用意がありません。申し訳ございません。）
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>お支払い方法は何がありますか？</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  当店では、クレジット決済・代金引換・銀行振込（前払い）をご利用いただけます。<br>
                  ※詳しくは<a href="/pages/guide">「ご利用ガイド」</a>ページの「お支払い方法について」をご覧ください。
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>注文してからどれくらいで発送されますか？</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  ご注文・決済完了後、<span>土日祝日を除く5営業日以内</span>に発送いたします。<br>
                  ※製造・ご注文の状況により、発送日が前後する可能性がございます。あらかじめご了承ください。<br>
                  ※お急ぎの方は、<a href="/pages/contact-form">お問い合わせフォーム</a>よりご相談ください。
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>注文内容の変更/キャンセルをしたいです。</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  商品の発送前でしたら対応可能な場合もございます。一度、<a href="/pages/contact-form">お問合せフォーム</a>よりご相談ください。
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>注文したのですが、注文確認のメールが届かないです。</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  当社からのご注文受付メールは、お客様のご注文完了後、システムにより自動的に配信されます。ご注文いただいてから1日以上経っても確認メールが届かない場合は、下記の点をご確認ください。
                </p>
                <p>
                  ●ご注文時に登録いただきましたメールアドレスに誤り・変更はございませんか？<br>
                  ・特に@以降の間違いが多くございます。「@***.ne.jp」<br>
                  ・ハイフン「-」とアンダーバー「_ 」の入力にご注意ください。
                </p>
                <p>
                  ●受信拒否の設定をされていませんか？<br>
                  ・特にスマートフォンにおいて、受信先の設定をされている場合がございます。<br>
                  設定をご確認いただき、受信先を指定されている場合は、「info@arakaki-grow.co.jp」からのメールを受信ドメインにご登録ください。
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>ギフトにしたいので、金額が表示された明細書などを入れないでほしいです。</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  ギフトでご注文の場合は、価格のわかるものは含めずにお届けしておりますのでご安心ください。
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="fap-wrap" id="to-delivery">
          <h2>
            <span>配</span>送・送料について</h2>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>送料はいくらですか？</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  全国一律1,400円<br>
                  12,000円以上のご購入で送料無料
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>日付指定できますか？</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  お届け日は、ご注文日の7日以降よりご希望の日時をお選びいただけます。 お届け日を指定しない場合は、ご注文・決済完了後、土日祝日を除く5営業日以内に発送いたします。<br>
                  ※お急ぎの方は、お問合せフォームよりご相談ください。
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>複数の配送先に送りたいのですが、できますか？</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  1回のご注文内でお届け先を分けることはできかねます。複数の配送先へのお届けをご希望の場合は、お手数ですがそれぞれのお届け先ごとにご注文をお願いいたします。
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>配送の状況はどこから確認できますか？</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  商品の発送完了後、ご注文時のメールアドレスに「商品を発送いたしました」というメールをお届けしており、メール内に伝票番号を記載しています。配送状況につきましては、<span>日本郵便及び佐川急便</span>の荷物お問合せシステムよりご確認いただけます。
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>海外への発送は可能ですか？</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  申し訳ございませんが、海外への発送は承っておりません。
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>別々に注文した商品を同梱できますか？</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  複数回ご注文いただき、かつ発送準備前で、下記の条件に該当する場合は、送料を調整し1件分のご注文としておまとめ可能です。ただし、コンビニ決済・銀行振込を選択されおり、お支払いが完了している場合など、対応が難しい場合もございます。一度、お問合せフォームよりご相談ください。<br>
                  ・お届け先やお届け日などの情報が同一の場合<br>
                  ・お客さまから同梱を希望される旨をご連絡をいただいた場合
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="fap-wrap" id="to-returns">
          <h2>
            <span>返</span>品・交換について</h2>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>商品を返品・交換したいです。</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
                  不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="question">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_question.png" alt=""></div>
              <p>届いた商品に商品に不備がありました。</p>
            </div>
            <div class="answer">
              <div class="icon"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon_faq_answer.png" alt=""></div>
              <div class="text">
                <p>
                  到着した商品に不備・不良品がありましたらご連絡ください。商品の破損など、当店の不手際により不備が発生した場合は、代品がある場合には交換、無い場合にはご返品・ご返金として対応いたします。
                </p>
                <p>
                  商品到着後1週間以内に、お問合せフォームまたはお電話にてご連絡をいただけますようお願い申し上げます。その際お手数ですが、<span>①お名前、②お電話番号、③受注番号（「ご注文確認メール」に記載されております）</span>をお知らせください。手続きの手順について、ご案内させていただきます。
                </p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
    <!-- /.maain-contents_wrap-->
  </div>
  <!-- /.inner-->
  <div class="kazari03"></div>
</div>
<!-- /#contents-->