<div id="contents" class="p-under_wrap kazari08">

  <!-- パンくずリスト SP時のみ -->
  <div class="breadcrumb u-sp">
    <div class="inner">
      <nav>
        <ol>
          <li>
            <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-home.svg" alt=""></a>
          </li>
          <li>特集</li>
          <li>昼-ランチ</li>
        </ol>
      </nav>
    </div>
  </div>

  <section class="p-feature-lp_wrap lunchi">

    <div class="p-under_head-img">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-lunchi_img_sp.jpg" media="(max-width: 769px)">
        <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-lunchi_img.jpg" alt="">
      </picture>
    </div>

    <div class="feature-lp_message">
      <h3 class="fadeIn">Lunch Time Story</h3>
      <p class="fadeIn">
        青い海と白い砂浜が輝く<br class="u-sp">沖縄の眩しいお昼時間。<br>
        日陰では南国の風が<br class="u-sp">心地よく吹き抜けています。
      </p>
      <p class="fadeIn">
        今日のランチタイムは、<br class="u-sp">ちょっと異国感じるお昼ご飯。<br>
        タコライス、ポークたまごおにぎり。<br class="u-sp">アクセントにスパイシーなソース。
      </p>
      <p class="fadeIn">
        太陽の下で食べる沖縄のお昼ご飯は、<br>
        南国のホットでエキゾチックな気分を<br class="u-sp">味わうことができます。
      </p>
      <p class="fadeIn">
        お昼ご飯を楽しんだ後は、<br class="u-sp">海辺でのんびり？ショッピング？
        沖縄の1日はまだまだ始まったばかり。
      </p>
      <div class="kazari09"></div>
      <div class="kazari10"></div>
      <div class="kazari11"></div>
    </div>

    <div class="lunchi-teatime-dinner_wrap">
      <div class="inner">

        <div class="wrap01 fadeIn">
          <div class="box">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/lunchi_img01.png" alt=""></div>
            <div class="right">
              <h3>
                <span>南国の風味が詰まった鮮やかな味わい</span><br>タコライス</h3>
              <p>タコライスとはメキシコ風アメリカ料理であるタコスの具材をご飯の上に乗せた料理です。ライスにタコスミートを載せ、トマトやレタス、チーズ、サルサソースなどをトッピングし、辛味や香辛料を効かせた一品です。手軽でボリュームがあり、沖縄の家庭や飲食店で親しまれています。観光客にも人気の地域独自の味を楽しめる料理として、多くの人に愛されています。</p>
            </div>
          </div>
          <div class="img-box wide-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/lunchi_img02_sp.png" media="(max-width: 769px)">
              <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/lunchi_img02.png" alt="">
            </picture>
            {% comment %} <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/lunchi_img02.png" alt=""> {% endcomment %}
          </div>
          <div class="kazari09"></div>
        </div>

        <div class="wrap02 fadeIn">
          <div class="wrap02_inner">
            <h3 class="u-pc">
              <span>Arranged Recipe</span>いつものタコライスに、ちょっとアレンジ
            </h3>
            <div class="u-sp">
              <h3>いつものタコライスに、<br>ちょっとアレンジ</h3>
            </div>
            <div class="box">
              <div class="left">
                <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/lunchi_img03.png" alt=""></div>
              </div>
              <div class="right">
                <p>
                  いつものタコライスに、<span>アボカドのスライスと砕いたドリトス</span>をプラス。<br>
                  アボカドのまろやかさとチップスのザクザク感が癖になります。
                  見た目も味も、一気にメキシコ気分。
                </p>
              </div>
            </div>
          </div>
          {% comment %} <div class="btn-area">
          <button>
          <a href="#set-item">セット商品を見る</a>
          </button>
          <button>
          <a href="#used-item">使用商品を見る</a>
          </button>
          </div> {% endcomment %}
        </div>

        <div class="wrap03">
          <div class="box fadeIn">
            <div class="left">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/lunchi_img04.png" alt=""></div>
              <div class="img-box02 u-pc">
                <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/lunchi_img05.jpg" alt="">
                <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/lunchi_img06.jpg" alt="">
              </div>
            </div>
            <div class="right">
              <h3>
                <span>ポークと卵の絶妙なハーモニー</span><br>ポークたまごおにぎり</h3>
              <p>
                沖縄のソウルフード「ポークたまごおにぎり」は、ポークと卵焼きををご飯で包んだおにぎりです。沖縄ではスーパー、コンビニでも見かけるほど親しまれています。<br>
                肉厚のポークとふわふわの卵焼きの相性は抜群。片手に収まるので持ち運びもしやすく、お弁当にもぴったり。
              </p>
              <div class="img-box02 u-sp">
                <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/lunchi_img05.jpg" alt="">
                <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/lunchi_img06.jpg" alt="">
              </div>
              {% comment %} <div class="btn-area">
              <button>
              <a href="#set-item">セット商品を見る</a>
              </button>
              <button>
              <a href="#used-item">使用商品を見る</a>
              </button>
              </div> {% endcomment %}
            </div>
          </div>
          <div class="box fadeIn">
            <div class="left">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/lunchi_img07.png" alt=""></div>
            </div>
            <div class="right">
              <h3>
                <span>辛さと旨みが融合したホットチリソース</span><br>ハイサイソース</h3>
              <p>
                沖縄を飛び出した島人がタイで出会ったシラチャソースをベースに地元沖縄の人々の舌に合うようにブレンドしてできたソースがハイサイソースです。主な原料は唐辛子、ガーリック、砂糖、塩。スパイシーで程よい甘みとコクのある『旨辛』味は、あらゆる料理にピッタリです。
              </p>
              {% comment %} <div class="btn-area">
              <button>
              <a href="#set-item">セット商品を見る</a>
              </button>
              <button>
              <a href="#used-item">使用商品を見る</a>
              </button>
              </div> {% endcomment %}
            </div>
          </div>
        </div>

      </div>
      <div class="kazari09"></div>
    </div>

    {% section 'lp-items_lunch' %}

    <div class="feature-other fadeIn">
      <div class="inner">
        <h3>1日を彩る沖縄の食卓 - 他を見る</h3>
        <ul>
          <li><a href="/pages/lp_morning"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img01.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_teatime"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img03.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_dinner"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img04.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_evening"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img05.jpg" alt=""></div></a></li>
        </ul>
      </div>
    </div>


  </section>
</div>
<!-- /#contents-->