<div id="contents" class="p-under_wrap kazari08">

  <!-- パンくずリスト SP時のみ -->
  <div class="breadcrumb u-sp">
    <div class="inner">
      <nav>
        <ol>
          <li>
            <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-home.svg" alt=""></a>
          </li>
          <li>特集</li>
          <li>晩-晩ご飯</li>
        </ol>
      </nav>
    </div>
  </div>

  <section class="p-feature-lp_wrap dinner">

    <div class="p-under_head-img">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-dinner_img_sp.jpg" media="(max-width: 769px)">
        <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-dinner_img.jpg" alt="">
      </picture>
    </div>

    <div class="feature-lp_message">
      <h3 class="fadeIn">Dinner Story</h3>
      <p class="fadeIn">
        夕陽が沖縄の海を染める頃、<br class="u-sp">家族が家に帰る準備を始めます。<br>
      </p>
      <p class="fadeIn">
        今夜の晩ごはんは、<br class="u-sp">家族みんなが大好きな沖縄の定番料理。<br>
        沖縄そば、煮物、汁物・・・<br>
        優しいお出汁の香りがテーブルを<br class="u-sp">埋め尽くします。<br>
        食卓を囲み、みんなで“いただきます”。
      </p>
      <p class="fadeIn">
        沖縄の心地よい温かさに包まれる<br class="u-sp">晩ごはんのひとときは、<br>
        心もお腹も満たされる<br class="u-sp">豊かな時間になるでしょう。
      </p>
      <div class="kazari09"></div>
      <div class="kazari12"></div>
      <div class="kazari03"></div>
    </div>

    <div class="lunchi-teatime-dinner_wrap">
      <div class="inner">

        <div class="wrap01 fadeIn">
          <div class="box">
            <div class="left"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/dinner_img01.jpg" alt=""></div>
            <div class="right">
              <h3>
                <span>沖縄の郷土料理の定番</span><br>沖縄そば</h3>
              <p>沖縄そばは、沖縄の代表的な麺料理です。豚骨や鰹節、昆布などを使った独自のスープと、柔らかく煮込まれた豚肉が特徴で、優しい味わいとコクが楽しめます。麺はツルッとした食感で、さっぱりとした味わいが人気です。トッピングには地域や家庭によって微妙な違いがあります。</p>
              <div class="img-box u-sp wide-img">
                <picture>
                  <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/dinner_img02_sp.png" media="(max-width: 769px)">
                  <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/dinner_img02.png" alt="">
                </picture>
                {% comment %}<img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/dinner_img02.png" alt=""> {% endcomment %}
              </div>
              {% comment %} <div class="btn-area">
              <button>
              <a href="#set-item">セット商品を見る</a>
              </button>
              <button>
              <a href="#used-item">使用商品を見る</a>
              </button>
              </div> {% endcomment %}
            </div>
          </div>
          <div class="img-box u-pc">
            <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/dinner_img02.png" alt="">
          </div>
          <div class="kazari09"></div>
        </div>

        <div class="wrap03">
          <div class="box fadeIn">
            <div class="flex">
              <div class="left">
                <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/dinner_img03.jpg" alt=""></div>
              </div>
              <div class="right">
                <h3>
                  <span>これぞ家庭の味</span><br>沖縄の煮物</h3>
                <p>
                  沖縄の煮物は、和風の煮物とは異なった、濃厚でこくのある味が特徴です。豊かな風味と家庭的な温かさは、地元の人々にとって大切な食卓の一部となっています。<br>
                  じっくりと煮込まれた具材と、優しい味は、沖縄の家庭の味の定番です。
                </p>
                <div class="img-box02 u-sp wide-img">
                  <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/dinner_img04_sp.png" media="(max-width: 769px)">
                    <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/dinner_img04.png" alt="">
                  </picture>
                </div>
                {% comment %} <div class="btn-area">
                <button>
                <a href="#set-item">セット商品を見る</a>
                </button>
                <button>
                <a href="#used-item">使用商品を見る</a>
                </button>
                </div> {% endcomment %}
              </div>
            </div>
            <div class="img-box02 u-pc">
              <img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/dinner_img04.png" alt="">
            </div>
          </div>
          <div class="box fadeIn">
            <div class="left">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/dinner_img05.jpg" alt=""></div>
            </div>
            <div class="right">
              <h3>
                <span>具沢山の汁物が主役</span><br>汁物定食</h3>
              <p>
                沖縄の汁物料理は、本土とは違って具だくさん。おかずという立ち位置にあり、ご飯も一緒に付いてくるのが一般的。大きな丼にたっぷりのボリューム。<br>
                栄養満点で家庭料理や定食屋で親しまれています。<br>
                種類も豊富なのでぜひお気に入りの汁物を見つけてください。
              </p>
              {% comment %} <div class="btn-area">
              <button>
              <a href="#set-item">セット商品を見る</a>
              </button>
              <button>
              <a href="#used-item">使用商品を見る</a>
              </button>
              </div> {% endcomment %}
            </div>
          </div>
        </div>

      </div>
      <div class="kazari09"></div>
    </div>

    {% section 'lp-items_dinner' %}

    <div class="feature-other fadeIn">
      <div class="inner">
        <h3>1日を彩る沖縄の食卓 - 他を見る</h3>
        <ul>
          <li><a href="/pages/lp_morning"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img01.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_lunch"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img02.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_teatime"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img03.jpg" alt=""></div></a></li>
          <li><a href="/pages/lp_evening"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/feauture-oter_img05.jpg" alt=""></div></a></li>
        </ul>
      </div>
    </div>


  </section>
</div>
<!-- /#contents-->