<div id="contents" class="p-under_wrap kazari08">

  <section class="p-about_wrap">

    <div class="p-under_head-img">
      <img
        class="is_ObjectFit"
        src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-about_img.jpg"
        alt="">
      <div>
        <p>食彩かふうについて</p>
      </div>
    </div>

    <div class="p-about_01">
      <div class="inner">
        <div class="logo fadeIn"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-about_logo01.png" alt=""></div>
        <div class="flex fadeIn">
          <div class="left">
            <div class="concept-ttl">
              <p>Concept</p>
              <h3>Okinawa発<br>食のセレクトショップ</h3>
            </div>
          </div>
          <div class="right">
            <p>Okinawa発 沖縄食材のある暮らしの提案。健康志向の高まりなどにも触れる。「かふう」についても言及。ストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
          </div>
        </div>
      </div>
      <div class="kazari09"></div>
    </div>

    <div class="p-about_02">
      <div class="flex">
        <div class="left fadeIn">
          <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/about_img01.jpg" alt=""></div>
        </div>
        <div class="right fadeIn">
          <h2>
            <span>沖</span>縄から、“食”を通して幸せを運ぶ。</h2>
          <p>
            沖縄料理の魅力を伝える。文化/健康などの側面。沖縄料理、和食、洋食、お菓子作りなど、働くスタッフたちのアイディアが豊富：商品だけでなく、アイディアや沖縄の食のリアルもお届けしたい。テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストキストテキストテキスト
          </p>
        </div>
      </div>
      <div class="img-box02 fadeIn"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/about_img02.png" alt=""></div>
      <div class="kazari03"></div>
    </div>

    <div class="p-about_03">
      <div class="flex">
        <div class="left fadeIn">
          <h2>
            <span>食</span>品に寄り添い続け、70年以上。</h2>
          <p>
            創業70年余りの新垣具郎商店だから、仕入れ先の太いパイプと、豊富な取扱商品。乾物に特に強い。沖縄料理を作る上で必要な食材が揃っているストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="right fadeIn">
          <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/about_img03.jpg" alt=""></div>
        </div>
      </div>
      <div class="img-box02 fadeIn"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/about_img04.png" alt=""></div>
      <div class="kazari04"></div>
    </div>

    <div class="p-about_04 fadeIn">
      <div class="inner flex">
        <div class="left">
          <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/p-about_logo02.png" alt=""></div>
        </div>
        <div class="right">
          <h3>ロゴについて</h3>
          <p>
            沖縄の食卓を表現する、食器を基本モチーフにしたロゴです。<br>
            新垣具郎商店のコーポレートカラーのグリーンとオレンジを使用し、「新垣具郎商店らしさ」が出る配色に。<br>
            お皿の右にあしらっているのは、新垣具郎商店のメインPB商品である乾物（昆布）です。<br>
            食を通じて、食卓と生活に彩りをお届けします。
          </p>
        </div>
      </div>
    </div>


  </section>
</div>
<!-- /#contents-->